/* add css module styles here (optional) */

@keyframes pops-up {
  0% {
    transform: scale(0.8, 0.8);
    opacity: 0;
  }
  35% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }

  65% {
    transform: scale(0.9, 0.9);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.pops-up {
  animation: pops-up 500ms;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 500ms;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    right: -30px;
    opacity: 0;
  }
  35% {
    right: 5px;
    opacity: 0.8;
  }
  65% {
    right: -5px;
    opacity: 1;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

.slide-left {
  animation: slide-left 500ms;
  animation-fill-mode: forwards;
}
@keyframes slide-right {
  0% {
    left: -30px;
    opacity: 0;
  }
  35% {
    left: 5px;
    opacity: 0.8;
  }
  65% {
    left: -5px;
    opacity: 1;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}
.slide-right {
  animation: slide-right 500ms;
  animation-fill-mode: forwards;
}
@keyframes vibration {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  15% {
    transform: rotate(-3deg);
    opacity: 1;
  }
  30% {
    transform: rotate(4deg);
    opacity: 1;
  }
  45% {
    transform: rotate(-5deg);
    opacity: 1;
  }
  60% {
    transform: rotate(5deg);
    opacity: 1;
  }
  75% {
    transform: rotate(-4deg);
    opacity: 1;
  }
  90% {
    transform: rotate(3deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
.vibration {
  animation: vibration 500ms;
  animation-fill-mode: forwards;
}

.react-easy-notify {
  width: 260px;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}

.success {
  background: #28a745;
}
.danger {
  background: #bd2130;
}
.warning {
  background: #ffc107;
  color: black;
}

.react-easy-notify .react-easy-notify-header {
  padding: 3px 7px;
  display: flex;
}

.react-easy-notify .react-easy-notify-header .title {
  flex: 1;
  text-transform: capitalize;
}
.react-easy-notify .react-easy-notify-header .close {
  text-align: right;
  background: red;
  border-radius: 6px;
  padding: 1px 4px;
  cursor: pointer;
  color: white;
  transition: all ease-in-out 300ms;
}
.react-easy-notify .react-easy-notify-header .close:hover {
  background: rgba(255, 0, 0, 0.849);
}

.react-easy-notify .react-easy-notify-body {
  background: rgb(39, 39, 39);
  padding: 10px;
  text-align: justify;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: rgba(255, 255, 255, 0.87);
}
.react-easy-notify .react-easy-notify-body-progress {
  height: 3px;
  width: 100%;
  background: white;
}

.top-right {
  position: fixed;
  top: 25px;
  right: 25px;
  padding: 5px;
  text-align: center;
  display: inline-grid;
}

.top-center {
  position: fixed;
  top: 25px;
  left: 50%;
  padding: 5px;
  text-align: center;
  display: inline-grid;
  transform: translate(-50%);
}
.top-left {
  position: fixed;
  top: 25px;
  left: 25px;
  padding: 5px;
  text-align: center;
  display: inline-grid;
}

.bottom-center {
  position: fixed;
  bottom: 25px;
  left: 50%;
  padding: 5px;
  text-align: center;
  display: inline-grid;
  transform: translate(-50%);
}

.bottom-left {
  position: fixed;
  bottom: 25px;
  left: 25px;
  padding: 5px;
  text-align: center;
  display: inline-grid;
}

.bottom-right {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 5px;
  text-align: center;
  display: inline-grid;
}

.react-easy-notify-container {
  z-index: 100000;
}
